<button type="button" (click)="dialogRef.close()" class="close no-border" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
<div class="loginmodal-container">
    <h1>SIGN IN / SIGN UP</h1><br>
    <div *ngIf="type =='login'">
        <form role="form">
            <div class="form-group">
                <input [(ngModel)]="mobileno" class="form-control" type="number" name="mobileno"
                    placeholder="Mobile number">
            </div>
            <!-- <div style="text-align:center"> -->
            <button type="button" (click)="generateOTP()" class="mat-raised-button mat-primary">Generate
                OTP</button>
            <!-- </div> -->
        </form>
    </div>
    <div *ngIf="type == 'otp'">
        <form role="form">
            <div class="form-group">
                <input [(ngModel)]="otpcode" class="form-control" type="string" name="otpcode" placeholder="OTP Code">
            </div>
            <button type="button" (click)="validateOTP()" class="mat-raised-button mat-primary">Validate OTP</button>
        </form>
    </div>
    <div class="login-help">
        By signing up, I agree to the <a href="#">Terms & Conditions</a>
    </div>
</div>