
    <mat-toolbar color="primary" style="position: fixed">
        <mat-toolbar-row>
            
            <h1>My Bus</h1>
            <span class="menu-spacer"></span>

              
              <a mat-button [routerLink]="'/'">
                <span class="mat-button-wrapper">
                    <!-- <mat-icon src="../../assets/img/icon/home.svg" alt="Nature" style="width:50%;"></mat-icon> -->
                    <!-- <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> -->
                    <span> Home </span>
                </span>
                </a>
                <!-- <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> -->
                
              <a mat-button [routerLink]="'/create-account'"> Offers </a>
              <a mat-button [routerLink]="'/contacts'"> Contacts </a>
              <span class="example-spacer"></span>
              
              <button mat-button [matMenuTriggerFor]="menu" style="padding-bottom: 13px"  aria-label="Example thumbs up SVG icon">
                  <mat-icon svgIcon="people" ></mat-icon>
              </button>
              <mat-menu #menu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item>Sign In/ Sign Up</button>
              </mat-menu>
              

          </mat-toolbar-row>
        
          
    </mat-toolbar>
    <!-- Add Content Here -->
