<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="position: fixed">
        <mat-toolbar-row>
            <!-- <button mat-icon-button>
              <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            </button> -->
            
            <h1>My Bus</h1>
            <span class="menu-spacer"></span>
            <div>
              
              <a mat-button [routerLink]="'/accounts'">
                <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                <span> Home </span></a>
              <a mat-button [routerLink]="'/create-account'"> Offers </a>
              <a mat-button [routerLink]="'/contacts'"> Contacts </a>
              <span class="menu-spacer"></span>
              <span class="menu-spacer"></span>
              <span class="menu-spacer"></span>
              <button mat-button [matMenuTriggerFor]="menu"  aria-label="Example thumbs up SVG icon">
                  <mat-icon svgIcon="people" ></mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Sign In/ Sign Up</button>
              </mat-menu>
              
            </div>
          </mat-toolbar-row>
        
          
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>