<div >
<div class="container" fxLayout fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center"
    fxLayoutGap.xs="0" >
<div fxFlex="50%" >
    <mat-label style="font-weight: bold">DEPARTURE TIME</mat-label><br>
    <mat-checkbox>Before 6 am </mat-checkbox><br>
    <mat-checkbox>6 am to 12 pm </mat-checkbox><br>
    <mat-checkbox>12 pm to 6 pm </mat-checkbox><br>
    <mat-checkbox>After 6 pm </mat-checkbox>
</div>
<div fxFlex="20%">
    <mat-label style="font-weight: bold">BUS TYPE </mat-label><br>
    <mat-checkbox>SEATER</mat-checkbox><br>
    <mat-checkbox>SLEEPER</mat-checkbox><br>
    <mat-checkbox>AC</mat-checkbox><br>
    <mat-checkbox>NON-AC</mat-checkbox>
</div>
<div fxFlex="20%">
    <mat-label style="font-weight: bold">ARRIVAL TIME</mat-label><br>
    <mat-checkbox>Before 6 am </mat-checkbox><br>
    <mat-checkbox>6 am to 12 pm </mat-checkbox><br>
    <mat-checkbox>12 pm to 6 pm </mat-checkbox><br>
    <mat-checkbox>After 6 pm </mat-checkbox>
</div>
</div>
</div>