table {
    border: 1px solid #dee2e6;
}

.divBorder {
    margin: 5px; 
    border: 1px solid #ddd; 
    padding: 8px;
    /* box-shadow: 2px 4px 8px 3px lightblue; */
    border-radius: 10px;
}

.divBorder:hover {
    min-height: 25px;
    /* background-color: #bbb; */
    box-shadow: 2px 4px 8px 3px #aaa;
    /* box-shadow: inset 1px 1px 0 #aaa, inset 0 -1px 0 #aaa; */
}

tr:hover {
    background-color: #ffff99;
  }

  .star {
    background-color: #38b87c;
    padding: 4px 3px;
    color: #fff;
    border-radius: 3px;
    margin-right: 5px;
    width: 40px;
    text-align: center;
    height: 24px;
    font-size: 12px;
  }

  .star3 {
    background-color: #ebaf3c;
    padding: 4px 3px;
    color: #fff;
    border-radius: 3px;
    margin-right: 5px;
    width: 40px;
    text-align: center;
    height: 24px;
    font-size: 12px;
  }

  .star2 {
    background-color: #f04747;
    padding: 4px 3px;
    color: #fff;
    border-radius: 3px;
    margin-right: 5px;
    width: 40px;
    text-align: center;
    height: 24px;
    font-size: 12px;
  }