<br><br><br>
<div class="pt-5 mb-5" style="color: #7e7e8c">
  <div class="row">
    <div class="col-md-2">
      <filter></filter>
    </div>
    <div class="col-md-10">
      <div *ngFor="let b of buses" class="divBorder">
        <div class="container" fxLayout fxLayout.xs="row" fxLayoutGap="1px" fxLayoutGap.xs="0">

          <div fxFlex="20%" style="font-weight: bold; color:black">{{b.busname}}</div>
          <div fxFlex="10%" style="font-weight: bold; font-size:22px; color:black">{{b.boarding}}</div>
          <div fxFlex="10%">{{b.travelingTime}}</div>
          <div fxFlex="10%">{{b.Droping}}</div>
          <div fxFlex="10%">{{b.coachType}}</div>
          <div fxFlex="10%">
            <div class="star" *ngIf="b.ratings>3.5">
              <i class="fa fa-star" style="color:white"></i>
              <mat-label>{{b.ratings}}</mat-label>
            </div>
            <div class="star3" *ngIf="b.ratings>=3 && b.ratings<=3.5">
                <i class="fa fa-star" style="color:white"></i>
                <mat-label>{{b.ratings}}</mat-label>
              </div>
              <div class="star2" *ngIf="b.ratings<3">
                  <i class="fa fa-star" style="color:white"></i>
                  <mat-label>{{b.ratings}}</mat-label>
                </div>
          </div>
          <div fxFlex="10%">INR{{b.Fare}}</div>



        </div>
        <div class="container" fxLayout fxLayout.xs="row" fxLayoutGap="1px" fxLayoutGap.xs="0">


          <div fxFlex="20%">{{b.seatType}}</div>
          <div fxFlex="10%">{{b.pickup}}</div>
          <div fxFlex="10%">1 Rest Stop</div>
          <div fxFlex="60%">{{b.drop}}</div>
          <div class="item" fxFlex="10%">
            <button (click)="onViewSeats(b)" class="btn btn-danger btn-sm">View Seats</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>