<div class="overlap"></div>
<div class="container">
  <div class="row justify-content-center pb-5 pt-3" >
        <div class="col-md-5 block mt-3">
<mat-card>
    <mat-card-content>
            
        <form class="form" (ngSubmit)="SearchBus()" >
            <mat-form-field class="full-width">
                <input type="text" [formControl]="pickup" placeholder="From" aria-label="Number" matInput
                    [matAutocomplete]="dept">
                <mat-autocomplete #dept="matAutocomplete">
                    <mat-option *ngFor="let loc of fromLoc| async" [value]="loc">
                        {{loc}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input type="text" [formControl]="drop" placeholder="To" aria-label="Number" matInput
                    [matAutocomplete]="dest">
                <mat-autocomplete #dest="matAutocomplete">
                    <mat-option *ngFor="let loc of toLoc | async" [value]="loc">
                        {{loc}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput [matDatepicker]="date" [(ngModel)]="startdate" name="startdate"
                    placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                <mat-datepicker #date></mat-datepicker>
            </mat-form-field>
            <button style="margin-left:10px" mat-raised-button color="primary">Search Bus</button>
        </form>
        
    </mat-card-content>
</mat-card>
</div>
<div class="col-md-5 slider mt-3 ">
    <img src="../assets/img/redBus-coupons-offers-1586.PNG" class="img-fluid">
  </div>
  </div>
  </div>