<!-- <div class="overlap"></div> -->
<br><br>
<div class="image_Backgroup" >
        <!-- <img src="../../assets/img/slider.jpg" alt="Nature" style="width:100%;"> -->
  <div class="justify-content-center pb-5 pt-2" > 
        <div class="col-md-10 block mt-3 align_home" >
<mat-card>
    <mat-card-content>
            
        <form class="form" (ngSubmit)="SearchBus()" >
            <mat-form-field class="full-width">
                <input type="text" [formControl]="pickup" placeholder="From" aria-label="Number" matInput
                    [matAutocomplete]="dept">
                <mat-autocomplete #dept="matAutocomplete">
                    <mat-option *ngFor="let loc of fromLoc| async" [value]="loc">
                        {{loc}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input type="text" [formControl]="drop" placeholder="To" aria-label="Number" matInput
                    [matAutocomplete]="dest">
                <mat-autocomplete #dest="matAutocomplete">
                    <mat-option *ngFor="let loc of toLoc | async" [value]="loc">
                        {{loc}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput [matDatepicker]="date" [(ngModel)]="startdate" name="startdate"
                    placeholder="Onward date">
                <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                <mat-datepicker #date></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput [matDatepicker]="date1" [(ngModel)]="returndate" name="returndate"
                    placeholder="Return date">
                <mat-datepicker-toggle matSuffix [for]="date1"></mat-datepicker-toggle>
                <mat-datepicker #date1></mat-datepicker>
                
            </mat-form-field>
            
            <button class="full-width" style="margin-left:14px" mat-raised-button color="primary">Search Bus</button>
            <mat-label class="optionalAlign">(Optional)</mat-label>
        </form>
        
    </mat-card-content>
</mat-card>
</div>
<!-- <div class="col-md-5 slider mt-3 ">
    <img src="../assets/img/redBus-coupons-offers-1586.PNG" class="img-fluid">
  </div> -->
  </div>
  </div>